<h1>Recette aléatoire</h1> 

<% @recipes.each do |recipe| %>

    <% if @random == recipe.id %>
        <label>Nom du plat : <%= recipe.label %></label>
        </br>
        <label>Description : <%= recipe.description %></label>
        </br>
        <label>Photo du plat : </label>
        </br>
        <img src=<%= recipe.url %> height=250 />
        </br>
        <label>Régime : <%= recipe.diet %></label>
    <% end %>

<% end %>
