// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recipe-section {
  width: 100%;
  height: 50rem;
  margin-bottom: 5rem;

  .recipe-image {
    width: 50%;
    height: 50rem;
    margin: 2rem 25%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    a {
      margin-left: auto;
      margin-right: auto;
      align-self: flex-end;
      font-size: 48px;
      margin-bottom: 1rem;

      &:hover, :focus {
        text-decoration: none !important;
      }

      i {
        color: #5c6ac4;
        background-color: white;
        height: 75px;
        border-radius: 100%;
        width: 75px;
        display: flex;
      }

      i::before {
        margin: auto;
      }
    }
  }

  .recipe-info {
    width: 50%;
    margin: 2rem 25%;

    h2 {
      font-size: 18px;
    }

    .recipe-ingredient-group {
      display: flex;
      flex-wrap: wrap;

      .recipe-ingredient {
        box-shadow: 1px 1px 1px 1px #bfbfbf;
        width: fit-content;
        padding: 1rem;
        border-radius: 2rem;
      }
    }

    .recipe-step-group {
      padding-bottom: 10rem;
    }
  }
}

